<h1>Ta fiche a été validée</h1>

<p>Et maintenant ? Connecte toi à l'espace-membre pour compléter tes informations et accéder aux différents outils de la communauté</p>
<ul>
  <li>Étape 1 : Connecte toi sur <a href="<%= secretariatUrl %>">l'espace membre</a> avec ton email <%= secondaryEmail %></li>
  <li>Étape 2 : Compléte tes informations</a>
</ul>

<p>Bonne journée</p>

