.startup-timeline {
  display: flex;
  margin: 30px 0;
}

.startup-timeline > p {
  border-top: 0.5rem solid var(--background-contrast-grey);
  flex: 1 0 auto;
  margin: 3px;
  padding: 5px;
}

@media screen and (max-width: 768px) {
  .startup-timeline {
    display: block;
  }
  .startup-timeline > p {
    width: 200px;
    margin-bottom: 2rem;
  }
}

.startup-timeline > p.active.investigation,
.startup-timeline > p.active.construction,
.startup-timeline > p.active.acceleration {
  border-color: var(--background-action-low-blue-france);
}

.startup-timeline > p.active.success {
  border-color: var(--background-action-low-green-emeraude);
}

.startup-timeline > p.active.finished {
  border-color: var(--background-action-low-red-marianne);
}

.startup-timeline > p.active.alumni {
  border-color: var(--background-action-low-red-marianne);
}

.table-xs-col1 thead th:first-child {
  width: 150px;
}
