name: Node.js CI

on: 
  workflow_run:
    workflows: [Generate Cron.md]  # generate Cron.md can create a commit so we wait for it to finish
    types:
      - completed

jobs:
    build:
        runs-on: ubuntu-latest

        strategy:
            matrix:
                node-version: [18.x]

        steps:
            - uses: actions/checkout@v4
            - name: Use Node.js ${{ matrix.node-version }}
              uses: actions/setup-node@v4
              with:
                  node-version: ${{ matrix.node-version }}
            - name: Setup PostgreSQL
              uses: Harmon758/postgresql-action@v1.0.0
              with:
                  postgresql db: postgres
                  postgresql user: postgres
                  postgresql password: postgres
            - run: npm install
            - run: npm run build --if-present
              env:
                  CI: true
                  FEATURE_SHOULD_SEND_MESSAGE_TO_AUTHOR: true
                  NEWSLETTER_HASH_SECRET: fakenewslettersecret
                  SHOULD_SEND_NL: true
                  OVH_APP_KEY: fakeovhkey
                  OVH_APP_SECRET: fakeovhsecret
                  OVH_CONSUMER_KEY: fakeconsumerkey
                  SESSION_SECRET: fakesessionsecret
                  CHAT_WEBHOOK_URL_SECRETARIAT: https://example.com
                  CHAT_WEBHOOK_URL_GENERAL: https://example.com
                  CHAT_WEBHOOK_URL_DINUM: https://example.com
                  CHAT_WEBHOOK_URL_GIP: https://example.com
                  MATTERMOST_BOT_TOKEN: faketoken
                  MATTERMOST_INVITE_ID: fakeid
                  MAIL_PASS: fakepass
                  MAIL_USER: fakeuser
                  MAIL_SENDER: fake@localhost
                  DATABASE_URL: postgres://postgres:postgres@localhost:5432/postgres
                  HOSTNAME: localhost:8100
                  HASH_SALT: fakesaltfortestenv
                  GITHUB_FORK: dummy-github-fork
                  MAILING_LIST_NEWSLETTER: 0
                  REDIS_URL: "dummy-url"
            - run: npm run test
              env:
                  CI: true
                  FEATURE_SHOULD_SEND_MESSAGE_TO_AUTHOR: true
                  NEWSLETTER_HASH_SECRET: fakenewslettersecret
                  SHOULD_SEND_NL: true
                  OVH_APP_KEY: fakeovhkey
                  OVH_APP_SECRET: fakeovhsecret
                  OVH_CONSUMER_KEY: fakeconsumerkey
                  SESSION_SECRET: fakesessionsecret
                  CHAT_WEBHOOK_URL_SECRETARIAT: https://example.com
                  CHAT_WEBHOOK_URL_GENERAL: https://example.com
                  CHAT_WEBHOOK_URL_DINUM: https://example.com
                  CHAT_WEBHOOK_URL_GIP: https://example.com
                  MATTERMOST_BOT_TOKEN: faketoken
                  MATTERMOST_INVITE_ID: fakeid
                  MAIL_PASS: fakepass
                  MAIL_USER: fakeuser
                  MAIL_SENDER: fake@localhost
                  DATABASE_URL: postgres://postgres:postgres@localhost:5432/postgres
                  HOSTNAME: localhost:8100
                  HASH_SALT: fakesaltfortestenv
                  GITHUB_FORK: dummy-github-fork
                  MAILING_LIST_NEWSLETTER: 0
                  REDIS_URL: "dummy-url"
                  PASSWORD_ENCRYPT_KEY: bc827f21bda5d288e35f190d44edb8cdc98a3259c5beac90bcbb6c98de4a89e7
